{% extends 'base.html' %}
{% block title %}Blog | BioStack{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto px-6 py-20">
    <h1 class="text-4xl font-bold text-white mb-12">Latest Updates</h1>

    <div class="space-y-8">
        {% for blog_details in blogs %}
    
        <article class="flex flex-col md:flex-row gap-8 items-start pb-8 border-b border-white/10">
            <div class="w-full md:w-64 h-40 bg-slate-800 rounded-xl shrink-0">
                {% if blog_details.thumbnail %}
                <img src="{{ blog_details.thumbnail.url }}" alt="{{ blog_details.name }}" class="w-full md:w-64 h-40 bg-slate-800 rounded-xl shrink-0">
                {% endif %}
            </div>
            <div>
                <a href="{% url 'blogs:blog' blog_details.slug %}" ><span class="text-indigo-400 text-xs font-bold uppercase">{{blog_details.category}}</span>
                <h2 class="text-2xl font-bold text-white mt-2 mb-3 hover:text-indigo-400 cursor-pointer transition">{{blog_details.title}}</h2>
                <p class="text-slate-400 mb-4 line-clamp-2">{{blog_details.sub_desc}}</p>
                <a href="{% url 'blogs:blog' blog_details.slug %}" class="text-white text-sm font-bold border-b border-indigo-500 pb-0.5">Read Article</a>
            </div>
        </article>

        {% endfor %}
    </div>
</div>
{% endblock %}