{% extends "base.html" %}
{% block title %}Testing | BioStack{% endblock title %}
{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen py-8 px-4">
  <div class="max-w-2xl w-full text-center">
  {% if my_details %}
  {{my_details}}
        <p><strong>Full Name:</strong> {{ my_details.email }}</p>
        <p><strong>Phone:</strong> {{ my_details.phone }}</p>
        <p><strong>Address:</strong> {{ my_details.address }}</p>
        <p><strong>Nationality:</strong> {{ my_details.nationality }}</p>
        <p><strong>DOB:</strong> {{ my_details.dob }}</p>
    {% else %}
        <p style="color: red;">You haven't saved any master details yet!</p>
        <a href="{% url 'accounts:settings' %}">Go add them now</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
